<ion-view style="background-color: #272733;" can-swipe-back="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <h1 class="title">Properties: {{vm.name}}</h1>
    </ion-header-bar>



    <ion-content class="has-header">


        <div ng-show="vm.hasItems">

            <ion-list>
                <ion-item ng-click="vm.onItemSelected($index)" ng-repeat="item in vm.items">
                    {{item}}
                </ion-item>
            </ion-list>

        </div>


        <div ng-hide="vm.hasItems"
            style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 class="light">Nothing Yet!</h1>
        </div>


        <div ng-show="vm.hasResponses">

            <ion-list>
                <ion-item ng-repeat="response in vm.responses">
                    {{response}}
                </ion-item>
            </ion-list>

        </div>







    </ion-content>


    <ion-footer-bar class="bar bar-dark bar-footer" style="position:fixed; bottom:0px; padding: 0px;">

        <div ng-show="vm.indexForEdit < 0">


            <button class="button button-positive col-1" style="margin: 5px; color: white;" ng-click="vm.done()"
                style="position: absolute; width: 50%; left: 50%; transform: translate(-50%,0%);">
                <ion-spinner ng-show="vm.busy" class="spinner-light"></ion-spinner>
                Done
            </button>


        </div>

        <div ng-hide="vm.indexForEdit < 0" class="row">
            <input type="text" ng-model="vm.valueToWrite" class="col">
            <button class="button button-positive col-1" style="margin: 5px; color: white;" ng-click="vm.sendValue()">
                <ion-spinner ng-show="vm.busy" class="spinner-light"></ion-spinner>
                Send
            </button>
        </div>

    </ion-footer-bar>

</ion-view>